{erl_opts, [debug_info]}.
{deps, []}.

{escript_incl_apps,
 [stockman]}.
{escript_main_app, stockman}.
{escript_name, stockman}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
             ]},
           {datagen,
            [{escript_incl_apps,
              []},
             {escript_name, datagen}
            ]}]}.
